.match-dev-infos {
  background-color: white;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  column-count:2;
  column-gap: 2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.match-title {
  padding: 10px;
}

.dev-img {
  background-color: white;
  margin:  20px 0px 20px 0px ;
  border-right: 1px solid black;
  justify-content: center;
  width: 100%;
  display: grid;
  img{
    margin-top: 5vmin;
  }

}

.dev-details {
  // margin:  20px 0px 20px 0px ;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: grid;
}

.match-buttons {
  height: 40px;
  justify-content: space-around;
  display: flex;
  margin: -50px;
}

.big-center {
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  background-color: rgb(218, 219, 221);
  margin-left: 5%;
  margin-right: 5%;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#main-title {
  display: flex;
  justify-content:flex-start;
}

.button-div {
  display: flex;
  justify-content: space-around;
}

.skill-div {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  p {
    padding-top: 3px;
  }
  li {
    padding: 3px;
    list-style: none;
  }
}

.skill-div ul {
    column-count: 2;
}

.dev-description {
  font-size: 12px;
}


.basket {
  position: relative;
  display: flex;
  flex-direction: column;
}

.basket-li {
  list-style: none;
}
.basket-superpose {
  padding: 10px;
  gap: 5px;
  column-count: 2;
  margin-left: 30px;
  background-color: rgba(174, 171, 171, 0.3);
  position: absolute;
  top: 50px;
  left: 20px;

  z-index: 1;
}
.tooltip-flex{
  display: flex;
    p{
      padding: 8px;
    }
  }

  .title-basket {
    background-color: rgba(174, 171, 171, 0.3);
    display: grid;
    margin-left: 50px;
    padding-left: 2px;
    width: 226px;
    h2 {
      font-size: 2.2rem !important;
    }
  }

  .dev-upvote{
    display: flex;
    flex-direction: row;
    // padding: 10px;
    justify-content: flex-end;
    strong{
      padding-right: 2vmin;
    }
  }
