.pending {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.Container {
  min-height: calc(100vh - 100px);
  overflow-y: auto;
}
.pending-nav {
  display: flex;
  background-color: grey;
  width: 80%;
  height: 70px;
  padding: 10px;
}

.pend-text {
  flex-grow: 1;
  padding: 2px;
}

.pend-btn{
  flex-grow: 2;
  background-color: black;
  padding: 2px;
}

.mission-specs {
  background-color: rgb(187, 187, 187);
  width: 80%;
  padding: 10px;
}

.profile-selection {
  width: 80%;
  height: 100%;
}
