.dev-profile{
 background-color: white;
 width: 90%;
 justify-content: center;
 margin-left: 100px;
 margin-right: 100px;
 margin-top: 40px;
 flex: 1;
}

.dev-header{
background-color: rgb(234, 234, 234);
display: flex;

}

.dev-links {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
}

.dev-links-icons{
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 30px;
    i{
      color: #071E3D;
    }

}

.dev-upvote{
  display: flex;
  flex-direction: row;
  // padding: 10px;
  justify-content: flex-end;
  img{
    margin-left: 15px;
    z-index: 1;
  }
  h4{
    margin-top: 25px;
  }
}

.dev-avatar{
  background-color: #D6DBE5;

  padding: 10px;
    img{
      border: 2px solid rgb(213, 213, 213);
    }
}

.dev-description {
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
}

.dev-infos {
  padding: 30px;
  flex-grow: 1;
  background-color: #ebebeb;
  box-shadow:0px 0px 0px 10px #D6DBE5 inset;
}

.dev-infos h1{
  display: flex;
  justify-content: center;
  font-size: 42px;
  margin: 5px;
}

.dev-my-comment{
  background-color: #D6DBE5;
  padding: 20px;
  padding-top: 50px;
  flex-grow: 1.5;
}

.dev-missions{
  margin-top: 20px;
  background-color: #D6DBE5;
  display: flex;
  flex-direction: column;
    h2{
      margin: 10px;
      justify-self: flex-start;
    }
    .li{
      color: #071E3D;
    }
    li a{
      color: #071E3D;
    }
}
.dev-missions-it{
  font-size: 32px;
  display: flex;
  justify-content: center;
  padding: 10px;
  li {
    list-style-type: none;
    margin: 5px;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.dev-body{
  margin: 20px;
  display: flex;
  justify-content: center;
  column-count: 2;
  background-color: white;
}

.dev-langs-container {
  margin-top: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  h2{
    padding: 10px;
  }
}

.dev-langs{
  display: flex;
  padding: 10px;
  padding-left: 10px;

  li {

    list-style: none;
  }
}

.dev-softs-container {
  width: 80%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  h2{
    padding: 10px;
  }
}
.dev-softs {
  padding: 10px;
  column-count: 2;
  li {
    list-style: none;
  }
}
.dev-contact{
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: #D6DBE5;
  justify-content: space-evenly;
  .pin{
    border: 1px solid rgb(81, 81, 81);
    margin-right: 10px;
  }
}


.avail-chat {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  h3{
    padding-top: 5px;
  }

}

.dev-mail{
  padding-top: 17px;
  margin-left: 20px;
}

.dev-mail-text{
  padding-top: 15px;
}


.ring-a-bell{
  padding-top: 17px;
}

.ring-a-bell-text {
  padding-top: 35px;
  display: flex;
  justify-content: center;
}

.missionshow {
  background-color: #F6F6F6;
  padding: 20px;
}

.white {
  color: rgb(72, 72, 72);
}

.background-dev-profile{
  background-color: #D6DBE5;
  display: flex;
}

.title-center-profile-dev {
  display: flex;
  justify-content: center;
}
