<div class="footer">
  <div class="footer-links">
    <a href="#"><i>Rooker Inc.</i>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    By the <i class="fas fa-heart"></i> Rooker team at Le Wagon 2023 !
  </div>
</div>
