<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1593720213428-28a5b9e94613?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);">
  <div class="container">
    <h1 class="megatitle">ROOKER, find the best dev in SECONDS !</h1>
    <p>Better, Faster, Coder, Finder!</p>
    <%# <%= link_to "Let's go", user_dashboard_path, class: "btn btn-gradient" %>
  </div>
    <div class="boton">
    <%= link_to "Let's go!", user_dashboard_path, class: "lolosbtn" %>
    </div>
</div>
