<h1>Your profile</h1>
<p>Hello <%= current_user.email %>!</p>
<div class="big-center" style="column-count= 2">
  <div>
    <h2>Here goes your current missions</h2>
    <h2>Here goes your missions history</h2>
  </div>
  <div>
     <h2>Here goes your infos</h2>
  </div>
  <div>
     <h2>Here goes your favs</h2>
  </div>

</div>
