<div class="Container">
  <div class="pending">
    <div class="pending-nav">
      <div class="pend-text">
        <h1>Nom de la mission</h1>
      </div>
      <div class="pend-btn">
        <p>Go to matches</p>
      </div>
      <div class="pend-btn">
        <p>Go to dashboard</p>
      </div>
    </div>
    <div class="mission-specs">
      <div class="mission-desc">

      </div>
      <div class="mission-datedom">


  <div>
      <% @mission.matches.each do |match| %>
        <h2><%= match.dev_id %></h2>
        <p><%= match.comment %></p>
      <% end %>
  </div>

    <div class="buttons-matches">
      <%= link_to "Back to dashboard", user_dashboard_path %>
      <%= link_to "Back to matches", match_landing_path(@mission) %>

    </div>

    <div class="profile-selection">
      <h3>Your profile selection</h3>
      <div class="my-component">

      </div>
    </div>
  </div>
</div>
