<div class="Container">
  <div class="pending">
    <div class="pending-nav">
      <div class="pend-text">
        <h1>Nom de la mission</h1>
      </div>
      <div class="pend-btn">
        <p>Go to matches</p>
      </div>
      <div class="pend-btn">
        <p>Go to dashboard</p>
      </div>
    </div>
    <div class="mission-specs">
      <div class="mission-desc">

      </div>
      <div class="mission-datedom">

      </div>
      <div class="mission-langsoft">

      </div>
    </div>

    <div class="profile-selection">
      <h3>Your profile selection</h3>
      <div class="my-component">

      </div>
    </div>
  </div>
</div>
