<div class="Container">
  <div class="pending">
      <%= render "matches/partials/pending_mission", locals: {match: @matches, mission: @mission} %>
      <div class="profile-selection">
        <h3>Your profile selection</h3>
          <%= render "matches/partials/matching_dev", locals: {match: @matches, mission: @mission} %>
      </div>
   </div>
</div>
