/* Ajoutez ces styles à votre feuille de style CSS */
.dev-outer-card {
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(214, 214, 214);
  width: 80%;
  margin-left: 200px;
  margin-right: 200px;
}

.dev-inner-card-image {
  padding: 20px;
  padding-top: 30px;
  justify-content: center;
  width: 200px;

}
.dev-inner-card {
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-evenly;
  border: 1px solid rgb(152, 152, 152);
  background-color: rgb(187, 187, 187);
  display: flex;
  flex-direction: row;
}

/* Vous pouvez également spécifier les styles pour chaque div à l'intérieur de "dev-inner-card" */
.dev-inner-card-col {
  padding: 30px;
  justify-content: center;
 display: flex;
 flex-direction: column;
 border-left: 1px solid black;
 margin-top: 10px;
 margin-bottom: 10px;
}

/* Les éléments à l'intérieur de "dev-inner-card" seront affichés côte à côte horizontalement */
