.custom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-comp {
  display:flex;
  justify-content: center;
  background-color: #D2D2D2;
  padding: 20px;
  width: 80vw;
  margin: 24px 0px 24px;
}

.hist-elmnt1 {
  width: 30%;
  padding-right: 10px;

   h3 {
    padding-top: -4px;
    margin-bottom: 2px;
  }
}

.hist-elmnt2 {
  border-left: 1px solid black;
  width: 30%;
  // padding: 10px;
}

.soft-elmnt {
  padding-left: 20px;
}
.date-elmnt {
  padding-left: 10px;
  padding-right: 10px;
}

.hist-elmnt3 {
  // display: flex;
  flex-direction: column;
  // align-items: center;
  border-left: 1px solid black;
  width: 15%;
  // padding: 10px;
  padding-left: 20px;
}

.hist-elmnt3 img {
  margin: 8px;
}

.hist-elmnt4, .hist-elmnt5 {
  border-left: 1px solid black;
  width: 25%;
  padding-left: 20px;
}

.dev-elmnt {

}

.rematch  {
  justify-content: end;
  margin-top: 20px;

  p {
    color: black;
    font-weight: 600;
    font-size: 18px;
    text-align: right
  }

  a {
    text-decoration: none;
    color:black;
  }
}
