.navbar-lewagon {
  justify-content: space-between;
  background: #F6F6F6;
  height: 100px;
}

.slogan {
  margin-top: 30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  margin-bottom: 5;
}
