.pending {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.pending-nav {
  display: flex;
  width: 80%;
  height: 60px;
  justify-content: space-between;
}
.pend-text {
  width: 500px;
}
.pend-btn{
  width: 235px;
  // padding: 15px;
  text-align: center;
  background-color: black;
  margin-left: 16px;
}
.my-button {
  color: white;
  text-decoration: none;
}
.mission-specs {
  border: 1px rgb(102, 102, 102) solid;
  display: flex;
  background-color:#D9D9D9;
  width: 80%;
  height: 80%;
  padding: 20px;
  p {
    margin-bottom: 8px;
  }
  h4 {
    margin-bottom: 12px;
  }
}
.mission-desc {
  width: 40%;
  padding: 0px 20px;
}
.mission-datedom {
  display: flex;
  flex-direction: column;

  width: 30%;
  border-left: 1px solid black;
}
.mission-date {
  padding-left: 20px;
}
.mission-dom {
  margin-top: 30px;
  padding-left: 20px;
}
.mission-langsoft{
  width: 30%;
  border-left: 1px solid black;
}
.mission-lang {
  padding-left: 20px;
}
.lang-logos{
  display: flex;
  margin-bottom: 8px;
  margin-top: 8px;
  img{
    padding-left: 5px;
  }
}
.mission-soft{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  max-height: 50%;
}
.mission-soft-column{
  column-count: 2;
  padding-left: 16px;
}
.profile-selection {
  background-color: #EBEBEB;
  width: 80%;
  height: 300px;
  padding: 20px;
}
.my-component {
  background-color: rgb(102, 102, 102);
}
