
<div class="form_container">
  <div class="mission-form">
  <h1>Step 2</h1>
    <br />
      <h2>Which languages do you need ?</h2>
        <%= simple_form_for @mission, :url => update_step_three_path, :method => :post do |f| %>
              <%= simple_fields_for :languages do |l| %>
              <% l.input :langtype, collection: Language.all %>
          <% end %>
          <%= f.button :submit, "Next step"%>
        <% end %>
  </div>
</div>
<button><%= link_to 'Back', edit_mission_path(@mission) %></button>
